name: CI

on:
  pull_request:
    branches:
      - main
      - develop
  push:
    branches:
      - develop

jobs:
  build-and-lint:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout repo
      - name: Checkout code
        uses: actions/checkout@v3

      # 2. Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      # 3. Install dependencies
      - name: Install dependencies
        run: npm ci

      # 4. Run lint
      - name: Lint code
        run: npm run lint

      # 5. Run build
      - name: Build Next.js
        run: npm run build

      # 6. Run tests 
      # - name: Run tests
      #   run: npm test
